:root {
    /* Couleurs*/
    --fond: #FFFDEF; 
    --carte: #FFFFFF;
    --ecriture: #000000;
    --lien: #f9f4ef;
    --titre: #301803;
    --fondN: #063246;
    --ecritureN: #f1f1f1;
    --textfooter: #969595;
    --footer: #95252A;
    /* Typographies*/
  
    /* Variables de typographie pour Futura PT */
    --font-family-futura-pt: 'Futura PT', sans-serif;
  
    /* Titres principaux */
    --font-size-h1: 48px;
    --font-weight-h1: 700; /* Bold */
    --line-height-h1: 1.2;
  
    /* Titres secondaires */
    --font-size-h2: 36px;
    --font-weight-h2: 600; /* Semi-Bold */
    --line-height-h2: 1.3;
  
    /* Corps du texte */
    --font-size-body: 16px;
    --font-weight-body: 400; /* Regular */
    --line-height-body: 1.5;
  }
 
/* Navbar */  

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--fondN);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 999;
  }
  
  .logo {
    height: 40px;
    margin-left: 30px;
    width: auto;
  }
  
  .content {
    position: relative;
    padding-top: 60px; /* Ajoute un espace pour la navbar */
  }
  
/* Bannière */ 

.hero-image {
    position: relative;
}
  
.hero-image img {
    width: 100%;
    height: auto;
    justify-content: center;
    width: 1490px;
    height: 600px;
    object-fit: cover; /* Assure que l'image conserve son aspect sans être déformée */
}
  
.hero-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white);
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;  /* Couleur noire ou celle que tu préfères */
    font-family: 'Futura PT', sans-serif;
    font-weight: bold;
    font-size: 2rem; /* Ajuste la taille selon ton design */
    text-align: center;
    z-index: 9999;
}

/* Bouton mode sombre */
.mode-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background: none;
    color: var(--ecriture);
    font-size: 18px;
    border-radius: 70%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 9999;
    }
    
    .mode-btn:hover {
    background: var(--ecriture)!important;
    color: var(--fond);
    }
    
    #toggle-mode {
    right: 20px;
    }

    .mode-btn:hover {
      color: var(--fond);
    }
    
/* Conteneur général */
.banner-container {
    display: flex; /* Utilisation de flexbox */
    justify-content: space-between; /* Espace entre le texte et l'image */
    align-items: center; /* Aligne verticalement les éléments */
  }
  
  /* Texte à gauche */
  .text-left {
    flex: 1; /* Le texte occupe la moitié de l'espace */
    text-align: left; /* Aligne le texte à gauche */
    padding-right: 20px; /* Ajoute un peu d'espace entre le texte et l'image */
    color: var(--ecriture);
    font-family: var(--font-family-futura-pt);
  }
  
  /* Image à droite */
  .image-right {
    flex: 1; /* L'image occupe l'autre moitié de l'espace */
    text-align: right; /* Aligne l'image à droite */
  }
  
  .image-right img {
    max-width: 100%; /* L'image occupe toute la largeur de son conteneur */
    height: auto; /* Garde les proportions de l'image */
  }
  